html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.main{
    height: 100%;
    width: 100%;
     display: flex;
     flex-direction: row;
}

.image{
    height: 100%;
    width: 100%;
    background-size: cover;
    /* background-image: url('img.jpg'); */
 

}
img{
 
    height:757px;
    width:912px;
    background: cover;
    margin-left: -11px;
    margin-top: -310px;
}

.form1{
    /* height: 100%;  */
     width: 50%;
    /* background-color: #fff; */
 
}
:root{
    --first-color:#1A73E8; 
    --input-color:#80868B;
    --border-color:#DADCE0;
    --body-font:'Roboto',sans-serif;
    --normal-font-size:1rem;
    --small-font-sieze:.75rem;  
}
*,::before,::after{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);

}
h1{
    margin: 0;

}
.l-form{
display: flex;
justify-content: left;
align-items: center;
height: 100vh;
margin-left: 4px;
}
.form{
    width:600px;
    height: 750px;
    padding:4rem 2rem;
    box-shadow: 0 5px 10px rgb(92,99,105,.2);
    background-color: white;
}
.form_title{
   /* font-weight: 400; 
    margin-bottom: 5rem;
    margin-left: 110px;
    font-size: 50px;*/
    margin-top: 30px;
    margin-left: 180px;
    font-size: 50px;

}
.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}
.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    font-size: var(--normal-font-size);
    border:1px solid black;
    border-radius: .5rem;
    outline: none;
    /*padding:1rem;*/
    background: none;
    z-index: 1;
    margin-top: 60px;
    margin-left: 80px;
}
.form_lable{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    /* background-color: #fff ; */
    color:black;
    font-size: var(--normal-font-size);
    margin-top: 60px;
    margin-left: 80px;

}

.form_button{
    display: block;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color:blue ;
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    margin-left: 180px;
    margin-top: 100px;

}
.form_button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);

}
/* .form_input:focus + .form_lable{
          top: -.5rem;
          left: .8rem;
          color:black;
          font-size: var(--small-font-sieze);
          font-weight: 500;
          z-index: 10;
          background-color: rgb(255, 255, 255);

} */
.link{
    margin-top: 30px;
    margin-left: 120px;
    justify-content: center;
}
.link2{
    /* margin-top: 30px; */
    margin-left: 180px;
    justify-content: center;
}
.logo img {
width:20%;
height: 20%;
margin-top: auto;
margin-left: 187px;
}
.name{
   margin-left: 200px;  
   color: red;  
}
.fa-arrow-left{
    font-size: 1.5rem;
    background-color: black;
    color:white;
    border-radius: 70px; 
    width:30px; 
    box-sizing: border-box;
    padding: 4px 6px;
}
.fa-arrow-left:hover{
    background-color:white;
    color:black;
}
@media screen and (max-width:1200px){
    form.form{
        height: 904px;
        margin-top: 189px;
    }
    img{
        height:932px ;
    }
}
@media screen and (max-width:1024px){
    form.form{
        height: 710px;
        margin-top: -42px;
        width: 554px;
    }
    img{
        height: 667px;
        margin-top: -259px;
        width: 463px;
    }
}

@media screen and (max-width:992px){
   .image{
      display: none;
    }
    form.form{
        width: 989px;
        height: 707px;
        margin-top: -39px;
    }
    .logo img{
        width: 12%;
        margin-left: 390px;
    }
    .name{
        margin-left: 405px;
    }
    .form_title{
        margin-left: 390px;
    }
    .form_input{
        width: 400px;
        margin-left: 250px;
    }
    .form_lable{
        margin-left: 250px;
    }
    .form_button{
        margin-left: 400px;
    }
    a{
        margin-left: 220px;
    }
}
@media screen and (max-width:768px){
    .form1{
       display: none; 
    }
    form.form{
        width: 763px;
        height: 687px;
        margin-top: -26px;
    }
    .logo img{
        width: 15%;
        margin-left: 315px;
    }
    .name{
        margin-left: 325px;
    }
    .form_title{
        margin-left: 315px;
    }
    .form_input{
        margin-left: 215px;
        width: 300px;
    }
    .form_lable{
        margin-left: 220px;
    }
    .form_button{
        margin-left: 300px;
    }
    .form_button:hover{
        box-shadow: 0 10px 36px rgba(0,0,0,.15);
        color:white;
        background-color: skyblue;
    
    }
    a{
        margin-left: 110px;
    }
}
@media screen and (max-width:320px){
    form.form{
        height: 1593px;
        margin-top: 913px;
    }
     .form_title{
        padding: 240px;
        margin-left: 40px;
        margin-top: -467px;
        font-size: 72px;
    } 
    .form_button{
     margin-top: -120px;
     margin-left: 277px;
     height: 85px;
    width: 178px;
    font-size: x-large;
    }
    .form_input{
        margin-top: -161px;
        margin-left: 177px;
        width: 405px;
        height: 60px;

 }
    .form_lable{
        margin-top: -162px;
        margin-left: 186px;


    }
    .logo img{
        /* margin-top: 300px; */
        margin-bottom: -435px;
        margin-left: 271px;
        width: 181px;
        
    }
    .name{
        padding: 308px;
        margin-left: -9px;
        font-size: x-large;
    }
    a{
        margin-top: 30px;
        margin-left: 76px;
        justify-content: center;
        font-size: x-large;
    }
}

